.navbar img {
    width: 100px;
    height: 90px;
}

.text0{
    margin: 30px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;



}
a {
    color: white;
    background-color: yellowgreen;

}

ul{
    display: flex;
    gap: 20px;



}
li{
    list-style-type: none;

}

.food img {
    border-radius: 20px;
    margin-top: 50% ;
    display: flex;
    width: 180px;
    height: 170px;
}
.text {
    text-align: center;
    font-size: x-large;
    flex-wrap: wrap;
} 
.food {
    display: flex;
    margin: 100px 20px 20px 20px;
    background-color: rgb(235, 221, 221);
    justify-content: space-evenly;
    border-radius: 40px 20px 40px 20px;
}
.text h1 {
    width: min-content;
    word-break: break-all;
}